<a href="https://colab.research.google.com/github/samkirwanppb/UCDPA_SamKirwan/blob/main/fee_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup as bs
import requests
import re
import pandas as pd
import numpy as np

hsite = "https://e.infogram.com/_/bQHbMUkcBdD1LFGscrW5?parent_url=https%3A%2F%2Fwww.theirishfield.ie%2Fstallion-fees-up-to-date-fees-for-more-than-400-stallions-for-2023-738173&src=embed#async_embed"
res = requests.get(hsite)
soup = bs(res.content, "html.parser")
#soup


x = soup.find_all("script")[4]
## really good use of regex here i think to get the data from there.

string = str(x)
print(string[0:2000])###dont print all of it, looks bad in github

<script>window.infographicData={"id":318959736,"type":0,"block_id":"023467ec-1db7-4ba5-90b3-12e78f43dcf4","theme_id":258,"user_id":2114665,"team_user_id":805284,"path":"a0ff400d-32c4-4e46-bde8-a093a04e1b11","title":"Stallion fees 2023 wk48","description":"","tags":"","public":false,"publicAccess":false,"private_link_enabled":1,"thumb":"https:\u002F\u002Finfogram-thumbs-200.s3-eu-west-1.amazonaws.com\u002F023467ec-1db7-4ba5-90b3-12e78f43dcf4.jpg","embedImageUrl":"https:\u002F\u002Finfogram.io\u002Fp\u002F6c657eaada927282c6ba8f94485caba4.png","previewImageUrl":"https:\u002F\u002Finfogram.io\u002Fp\u002F90c07788e8331dd681e583525fa6ab72.png","width":599,"copyright":"","properties":{"tabs":true,"custom_logo":"none","embed_button":"disabled","transparent":true,"zeropaddingembed":"true","title_link":"infogram","customLinkOption":"text","footerSettings":{},"publishType":1,"rtl":false,"language":"en","export_settings":{"showGrid":true,"showValues":true},"whitelabel":true,"noTracking":false,"decimal_separator":".,","custom_link_url":"","logoName":"Infogram logo","showChartsOnScroll":true,"pro":true},"elements":[{"type":"particle","particle_id":781188726,"object_id":"ae719797-9a2c-4bea-9f39-a61bdafe8d87","particle_type":"maintitle","picture":null,"accessibility":{"enabled":true},"text":"\u003Cfont style=\"font-size: 18px\"\u003E2023 stallion fees \u003C\u002Ffont\u003E\u003Cfont style=\"font-size: 12px\"\u003E(2022 fee)\u003C\u002Ffont\u003E","content_type":"text\u002Fhtml","title":"","shrink":null},{"type":"chart","chart_id":683310066,"object_id":"4571239f-17bc-4bd6-a894-c00370140f22","chart_type_nr":19,"data":[[["Stallion","Stud","Fee"],["Acclamation","Rathbarry","€27,500 (€27,500)"],["Alkumait","Castlefield","€5,000 (€5,000)"],["Arizona","Coolmore","€5,000 (€6,000)"],["Australia","Coolmore","€25,000 (€35,000)"],["Awtaad","Derrinstown","€5,000 (€5,000)"],["Bayside Boy","Ballylinch","€15,000 (NEW)"],["Behesht","Whytemount","€1,500 (€1,500)"],["Blackbeard","Coolmore","€25,000

In [ ]:
raw_data = re.findall(r'\[(.*?)\]', string)


##the below is a reusable function. When inputting the list returned from the regex pattern this will return the desired elements that we would like to keep
def clean_data(data):
  data_filtered = []
  for i in data:
    if len(i) != 0: ##removes empty strings in the list 
        if i[0] == '"' and i[-2:] == ')"': ##these are the charactorists of the strings that we want to keep.
            i = i.replace('"', '')#removing all the "'s from the data
            data_filtered.append(i)

  return data_filtered

data_lst = clean_data(raw_data)

print(data_lst[0:5])

['Acclamation,Rathbarry,€27,500 (€27,500)', 'Alkumait,Castlefield,€5,000 (€5,000)', 'Arizona,Coolmore,€5,000 (€6,000)', 'Australia,Coolmore,€25,000 (€35,000)', 'Awtaad,Derrinstown,€5,000 (€5,000)']

In [ ]:
data_dic = {}
for i in data_lst:
  data_dic[i.split(",", 2)[0]] = [i.split(",", 2)[1],i.split(",", 2)[2]]

col = ['Sire','Stud', 'Fee']
fee_data = pd.DataFrame.from_dict(data_dic, orient='index').reset_index()
fee_data.set_axis(col, axis = 1, inplace = True)
fee_data.head()

          Sire         Stud                Fee
0  Acclamation    Rathbarry  €27,500 (€27,500)
1     Alkumait  Castlefield    €5,000 (€5,000)
2      Arizona     Coolmore    €5,000 (€6,000)
3    Australia     Coolmore  €25,000 (€35,000)
4       Awtaad  Derrinstown    €5,000 (€5,000)

In [ ]:
##cleaning the fee column. the first price is the 2023 years fee, the price in brackets is the 2022 fee (last year)
fee_data['Fee 2023'] = fee_data['Fee'].str.split("(").str[0].str.strip()
fee_data['Fee 2022'] = fee_data['Fee'].str.split("(").str[1].str.strip().str.replace(")", "")
fee_data.head()

<ipython-input-45-7e5f14fa7953>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  fee_data['Fee 2022'] = fee_data['Fee'].str.split("(").str[1].str.strip().str.replace(")", "")

          Sire         Stud                Fee Fee 2023 Fee 2022
0  Acclamation    Rathbarry  €27,500 (€27,500)  €27,500  €27,500
1     Alkumait  Castlefield    €5,000 (€5,000)   €5,000   €5,000
2      Arizona     Coolmore    €5,000 (€6,000)   €5,000   €6,000
3    Australia     Coolmore  €25,000 (€35,000)  €25,000  €35,000
4       Awtaad  Derrinstown    €5,000 (€5,000)   €5,000   €5,000

In [ ]:
fee_data['Fee 2022'].value_counts().head() ##shows this akward that is there as new

NEW        34
€5,000     22
$10,000    16
€15,000    10
€4,000      9
Name: Fee 2022, dtype: int64

In [ ]:
#replacing the new value with nans
fee_data['Fee 2022'] = fee_data['Fee 2022'].replace('NEW', np.nan)
fee_data['Fee 2022'].value_counts().head()#new is gone and replaced with NP.nan

€5,000     22
$10,000    16
€15,000    10
€4,000      9
$12,500     8
Name: Fee 2022, dtype: int64

In [ ]:
##careful reruning this, if no fee has changed currency can use the following - fee_data[['Currency 2023', 'Currency 2022']] = fee_data['Fee'].str[0] 
##as can be seen in the above code the fee columns still need some cleaning. also an important observation is that the currencyies for the fees are different for certain stallions
#so I will create a column that stores the currencies so that we can convert them all into the one
fee_data['Currency 2023'] = fee_data['Fee 2023'].str[0] 
fee_data['Currency 2022'] = fee_data['Fee 2022'].str[0]
#clean the Fee 2022 and Fee 2023 columns so that they are ints
fee_data['Fee 2023'] = fee_data['Fee 2023'].str.replace("€", "").str.replace("£", "").str.replace("$", "")
fee_data['Fee 2022'] = fee_data['Fee 2022'].str.replace("€", "").str.replace("£", "").str.replace("$", "")
fee_data.head()

<ipython-input-52-c48d3a34df67>:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  fee_data['Fee 2023'] = fee_data['Fee 2023'].str.replace("€", "").str.replace("£", "").str.replace("$", "")
<ipython-input-52-c48d3a34df67>:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  fee_data['Fee 2022'] = fee_data['Fee 2022'].str.replace("€", "").str.replace("£", "").str.replace("$", "")

,Sire,Stud,Fee,Fee 2023,Fee 2022,Currency 2023,Currency 2022
0,Acclamation,Rathbarry,"€27,500 (€27,500)","27,500","27,500",2,2
1,Alkumait,Castlefield,"€5,000 (€5,000)","5,000","5,000",5,5
2,Arizona,Coolmore,"€5,000 (€6,000)","5,000","6,000",5,6
3,Australia,Coolmore,"€25,000 (€35,000)","25,000","35,000",2,3
4,Awtaad,Derrinstown,"€5,000 (€5,000)","5,000","5,000",5,5

In [ ]:
fee_data['Fee'].str.split("(").str[0]

0       €27,500
1        €5,000
2        €5,000
3       €25,000
4        €5,000
         ...
306     $12,500
307    $100,000
308     $25,000
309     $30,000
310     $10,000
Name: Fee, Length: 311, dtype: object

In [ ]:
performance_figures = pd.read_csv('https://raw.githubusercontent.com/samkirwanppb/UCDPA_SamKirwan/main/performance_figures.csv')
performance_figures.head()

,Racehorse,YOF,Sex,Trainer,Latest,2 runs ago,3 runs ago,4 runs ago,5 runs ago,6 runs ago
0,A BOY NAMED IVY (IRE),2018,GELDING,NaN,T:73,T:79,T:72,T:63,T:74,T:80
1,A DAY TO DREAM (IRE),2020,GELDING,Ollie Pears,A:42,T:47,T:x,T:x,T:x,-
2,A DEFINITE GETAWAY (IRE),2018,GELDING,Ben Pauling,H:x,H:x,H:x,-,-,-
3,A DIFFERENT KIND (IRE),2017,GELDING,Donald McCain,H:93,H:135,H:x,H:x,H:x,H:x
4,A E HOUSMAN (GB),2019,COLT,NaN,T:71,A:x,A:x,T:x,T:x,-

In [ ]:
yearling_sales = pd.read_csv('https://raw.githubusercontent.com/samkirwanppb/UCDPA_SamKirwan/8cb074c47ef49559379ddb65908e5d3b80c01316/yearling_sales.csv')
yearling_sales.head()

,Stallion,Offered,Sold,High £,Av. £,Med. £,Colt Av. £,Colt Med. £,Filly Av. £,Filly Med. £,year,age
0,Dubawi,31,28,"1,690,615","796,481","669,375","830,350","682,500","640,684","486,052",2022,yearling
1,Dubawi,27,23,"2,041,931","534,327","446,250","440,212","459,375","636,998","420,000",2021,yearling
2,Galileo,23,23,"1,280,059","464,193","357,000","355,862","241,500","605,023","538,741",2021,yearling
3,Frankel,47,43,"2,940,000","584,192","338,123","689,644","325,500","406,242","352,811",2022,yearling
4,Kingman,42,31,"1,102,500","328,787","283,500","358,009","315,000","267,419","212,270",2022,yearling

In [ ]:
##adding this in as a test commit.